<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>
  </div>
  <div class="carousel-inner">
    <div style="height: 100vh" class="carousel-item active overlay">
      <img
        src="https://images2.alphacoders.com/589/589553.png"
        class="d-block w-100 img-fluid object-fit-cover"
        alt="..."
      />
      <div
        style="margin-bottom: 250px"
        class="carousel-caption d-none d-md-block text-start"
      >
        <h5 class="display-5 fw-bold mb-3">Avengers</h5>
        <p style="max-width: 600px" class="lead">
          "Unleash the Marvel Universe: Join Earth's Mightiest Heroes in the
          Epic Avengers Saga."
        </p>
      </div>
    </div>
    <div style="height: 100vh" class="carousel-item overlay">
      <img
        src="https://images5.alphacoders.com/131/1317575.jpeg"
        class="d-block w-100 img-fluid object-fit-cover"
        alt="..."
      />
      <div
        style="margin-bottom: 250px"
        class="carousel-caption d-none d-md-block text-start"
      >
        <h5 class="display-5 fw-bold mb-3">Mission Impossible</h5>
        <p style="max-width: 600px" class="lead">
          "Prepare for High-Octane Thrills: Experience the Non-Stop Action of
          the Mission Impossible Franchise."
        </p>
      </div>
    </div>
    <div style="height: 100vh" class="carousel-item overlay">
      <img
        src="https://images5.alphacoders.com/131/1315822.jpg"
        class="d-block w-100 img-fluid object-fit-cover"
        alt="..."
      />
      <div
        style="margin-bottom: 250px"
        class="carousel-caption d-none d-md-block text-start"
      >
        <h5 class="display-5 fw-bold mb-3">The Godfather</h5>
        <p style="max-width: 600px" class="lead">
          "Witness the Power of the Corleone Family: Dive into the Classic Mafia
          Masterpiece, The Godfather."
        </p>
      </div>
    </div>
    <div style="height: 92vh" class="carousel-item overlay">
      <img
        src="https://images.alphacoders.com/586/586902.jpg"
        class="d-block w-100 img-fluid object-fit-cover"
        alt="..."
      />
      <div
        style="margin-bottom: 250px"
        class="carousel-caption d-none d-md-block text-start"
      >
        <h5 class="display-5 fw-bold mb-3">Inception</h5>
        <p style="max-width: 600px" class="lead">
          "Dive into the World of Dreams: Explore the Mind-Bending Realities of
          Christopher Nolan's Inception."
        </p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleCaptions"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
