.date {
  font-size: 3px !important;
}
.checked {
  color: yellow;
}
.description {
  text-align: justify;
}

.circular-chart {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 40px;
  max-width: 12%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4cc790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

hr {
  width: 100%;
  height: 0.0625rem;
  border: 1.5px solid #cfcfcf;
}
.movie-rate {
  margin-right: 0px;
  max-width: 20%;
}
.recommend-card {
width: 100%;
object-fit: cover;
  aspect-ratio: auto 384 / 577;
  height: 577px;
}

@media (max-width: 426px) {
  .movie-rate {
    margin-right: 0px;
    max-width: 15%;
  }
}
