<div class="card border-0 rounded-3">
  <a
    class="onhover-container rounded-3 before-class"
    *ngIf="movieData.poster_path"
    [routerLink]="['/movie-details', movieData.id]"
  >
    <img
      style="height: 459px"
      src="https://image.tmdb.org/t/p/w500/{{ movieData.poster_path }}"
      class="card-img-top rounded-3 onhover"
      alt="movie-img"
    />
  </a>
  <a *ngIf="!movieData.poster_path">
    <img
      style="height: 459px; object-fit: cover"
      src="https://tse3.mm.bing.net/th?id=OIP.AC9frN1qFnn-I2JCycN8fwHaEK&pid=Api&P=0&h=220"
      class="card-img-top rounded-3"
      alt="movie-img"
    />
  </a>
  <div class="card-body">
    <h4 style="height: 3.7rem; overflow: hidden" class="card-title fw-bold">
      {{ movieData.title }}
    </h4>
    <div>
      <div class="rating d-flex align-items-center justify-content-start">
        <svg viewBox="0 0 36 36" class="circular-chart orange">
          <path
            class="circle-bg"
            d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"
          />
          <path
            class="circle"
            [attr.stroke-dasharray]="movieData.vote_average * 10"
            d="M18 2.0845
                        a 15.9155 15.9155 0 0 1 0 31.831
                        a 15.9155 15.9155 0 0 1 0 -31.831"
          />
          <text x="18" y="20.35" class="percentage">
            {{ movieData.vote_average * 10 | number : "1.0-0" }}%
          </text>
        </svg>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <p class="card-text mb-0">
        {{ movieData.release_date | date }}
      </p>
      <button title="fav" class="btn rounded-circle" (click)="addToWatchList()">
        <fa-icon *ngIf="!favorite" class="fs-4 heart-empty" [icon]="faHeart"></fa-icon>
        <fa-icon *ngIf="favorite" class="fs-4 text-warning" [icon]="faHeart"></fa-icon>
      </button>
    </div>
  </div>
</div>
