<div class="card border-0">
  <a class="">
    <img
      src="https://image.tmdb.org/t/p/w500/{{ movieData.poster_path }}"
      class="card-img-top rounded-3"
      alt="movie-img"
    />
  </a>
  <!-- <div
    class="roundedd-rating d-flex justify-content-around align-items-center ms-3"
  >
    <span class="text-light lead">75 <sup>%</sup></span>
  </div> -->
  <div class="card-body">
    <h5 class="card-title fw-bold">
      {{ movieData.title }}
    </h5>
    <div class="pt-2">
      <fa-icon
        [icon]="faStar"
        *ngFor="let star of [1, 2, 3, 4, 5]"
        [ngClass]="{
          'text-warning': movieData && movieData.vote_average / 2 > star,
          'star-empty': movieData && movieData.vote_average / 2 < star
        }"
        class="rounded-circle me-2 fs-5"
      ></fa-icon>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <p class="card-text mb-0 text-muted">
        {{ movieData.release_date | date }}
      </p>
      <button title="fav" class="btn rounded-circle" (click)="addToWatchList()">
        <fa-icon *ngIf="!favorite" class="fs-4 heart-empty" [icon]="faHeart"></fa-icon>
        <fa-icon *ngIf="favorite" class="fs-4" [icon]="faHeart"></fa-icon>
      </button>
    </div>
  </div>
</div>
