<section class="movie-list py-5 height-container">
  <div class="container">
    <div class="row p-5 bg-color">
      <h1 class="display-5 fw-medium mb-5">Welcome to our movie app</h1>
      <p class="fw-medium">
        Millions of movies, TV shows and people to discover. Explore now.
      </p>
      <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
        <div class="row">
          <div class="col-sm-12 col-md-9 col-lg-11">
            <input
              [(ngModel)]="searchInputValue"
              class="rounded input-styling border-0 py-2 px-3 w-100 mb-3 mb-md-0"
              type="text"
              placeholder="Search and explore...."
            />
          </div>
          <div class="col-sm-12 col-md-3 col-lg-1">
            <button
              (click)="searchFunc()"
              class="rounded px-4 py-2 bg-yellow border-0"
            >
              Search
            </button>
          </div>
        </div>
      </div>
    </div>
    <div id="m" class="row py-5 g-4">
      <div
        *ngFor="let movie of arrOfMoviesList"
        class="col-sm-12 col-md-6 col-lg-3"
      >
        <div>
          <app-movie-card [movieData]="movie"></app-movie-card>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <nav aria-label="...">
          <ul class="pagination d-flex justify-content-center">
            <li class="page-item">
              <a class="text-decoration-none" href="#m">
                <input
                  (click)="previousPaginate()"
                  type="button"
                  value="Previous"
                  class="page-link text-dark"
                />
              </a>
            </li>
            <!-- <li class="page-item text-warning">
              <a href="#m">
                <input
                  type="button"
                  class="page-link"
                  value="1"
                  (click)="paginationFunc($event)"
                />
              </a>
            </li>
            <li class="page-item">
              <a href="#m">
                <input
                  type="button"
                  class="page-link"
                  value="2"
                  (click)="paginationFunc($event)"
                />
              </a>
            </li>
            <li class="page-item">
              <a href="#m">
                <input
                  type="button"
                  class="page-link"
                  value="3"
                  (click)="paginationFunc($event)"
                />
              </a>
            </li> -->

            <li class="page-item">
              <a href="#m" class="text-decoration-none text-dark">
                <input
                  type="button"
                  value="Next"
                  class="page-link text-dark"
                  (click)="nextPaginate()"
                />
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
