<footer class="bg-dark text-light">
  <div class="container">
    <div class="row pt-3">
      <div class="col-12 d-flex justify-content-center">
        <ul
          class="list-unstyled d-flex flex-column flex-md-row justify-content-center align-items-sm-baseline align-items-md-center"
        >
          <li class="mx-3 pb-2 hovering">
            <a
              href="https://github.com/mohamed-elattar20"
              target="_blank"
              class="text-light text-decoration-none"
            >
              <fa-icon class="me-3 fs-5" [icon]="faGithub"></fa-icon> Mohamed El
              attar
            </a>
          </li>
          <li class="mx-3 pb-2 hovering">
            <a
              href="https://github.com/Genesis-o-0"
              target="_blank"
              class="text-light text-decoration-none"
            >
              <fa-icon class="me-3 fs-5" [icon]="faGithub"></fa-icon> Mohamed
              Lotfy
            </a>
          </li>
          <li class="mx-3 pb-2 hovering">
            <a
              href="https://github.com/Ahmed-Khamees"
              target="_blank"
              class="text-light text-decoration-none"
            >
              <fa-icon class="me-3 fs-5" [icon]="faGithub"></fa-icon> Ahmed
              khamis
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
