<footer class="footer bg-yellow py-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12">
        <ul
          class="mb-0 py-3 d-flex flex-column flex-md-row mx-auto justify-content-between px-0"
        >
          <li class="list-unstyled me-5 d-inline-block hovering">
            <a
              target="_blank"
              class="text-decoration-none text-light"
              href="https://github.com/mohamed-elattar20"
              ><fa-icon class="me-3 fs-5" [icon]="faGithub"></fa-icon>Mohamed
              Elattar</a
            >
          </li>
          <li class="list-unstyled me-5 d-inline-block hovering">
            <a
              target="_blank"
              class="text-decoration-none text-light"
              href="https://github.com/Genesis-o-0"
              ><fa-icon class="me-3 fs-5" [icon]="faGithub"></fa-icon>Mohamed
              Lotfy</a
            >
          </li>

          <li class="list-unstyled d-inline-block hovering">
            <a
              class="text-decoration-none text-light"
              href="https://github.com/Ahmed-Khamees"
              target="_blank"
              ><fa-icon class="me-3 fs-5" [icon]="faGithub"></fa-icon>Ahmed
              Khamis</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
