<div class="container mx-auto pt-3 pb-5">
    <h1 class="fw-600 mb-2">Watch list</h1>
    <div class="row row-cols-1 row-cols-lg-2">
        <div class="col px-1 py-2 d-flex gap-3 align-items-center">
            <img src="../../../assets/images/placeholder.png" alt="">
            <div class="details">
                <h2>Movie title</h2>
                <p>Sep 25, 2017</p>
                <p>stars here</p>
                <p>
                    Natasha Romanoff, also known as Black Widow, confronts the darker parts of her ledger when a
                    dangerous conspiracy with ties to her past arises. Pursued by....
                </p>
            </div>
        </div>
    </div>
</div>