/* You can add global styles to this file, and also import other style files */
.bg-yellow {
  background-color: #ffe353;
}
a {
  cursor: pointer;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Inter", sans-serif;
}
.star-empty {
  color: rgba(219, 219, 204, 0.534);
}
.heart-empty {
  color: rgba(219, 219, 204, 0.708);
}

body {
  /* background-color: #040e1a;
  background-color: #122430;
  background-color: #031526; */
  background-color: #2c2a2a06;
}
.card {
  background-color: transparent;
}
nav {
  background-color: #202020 !important;
}
footer {
  background-color: #202020 !important;
}
/* p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white !important;
} */
