/* You can add global styles to this file, and also import other style files */
.bg-yellow {
  background-color: #ffe353;
}
a {
  cursor: pointer;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Inter", sans-serif;

.star-empty {
  color: rgba(219, 219, 204, 0.534);
}
.heart-empty {
  color: rgba(219, 219, 204, 0.708);

}
